<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="The University of Michigan's Department of Public Safety (DPS) publishes their data and this website allows users to geographically view incidents along with statistical information.">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div id="main" style='min-height: 100%; height: 100%'></div>
</body>
</html>
