@import '../../css/Main.css';

.incident-container {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.date-label {
  display: flex;
  align-items: center;
}

.date-picker {
  margin-left: 0.75rem;
}
