@import '../../css/Main.css';
@import '../../css/Colors.css';

.header {
  width: 100%;
  background: color(var(--color3) blackness(10%));
  color: white;
  box-shadow: 0 5px 5px #ddd;
}

.nav {
  margin: 0 auto;
  width: var(--mainWidth);
  @media (width < 960px) {
    width: var(--smallWidth);
  }
  @media (width < 480px) {
    width: auto;
    max-width: var(--smallWidth);
  }

  display: flex;
  align-items: center;

  & .links {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }

  & a:link, & a:visited, & a:hover, & a:active {
    text-decoration: none;
  }
}

