@import './Main.css';
@import './Colors.css';

.header {
  width: 100%;
  background: color(var(--color3) blackness(10%));
  color: white;
  box-shadow: 0 5px 5px #ddd;
}

.nav {
  lost-center: 1100px;
  lost-utility: clearfix;
  align-items: center;

  & .col {
    lost-column: 1/1;

    &:first-child {
      lost-offset: 1/3;
    }

    @media (min-width: 30em) {
      lost-column: 1/4;
    }
  }
}

