@import '../../css/Main.css';

.appear {
  opacity: 0.01;
}

.appearActive {
  opacity: 1;
  transition: opacity .5s ease-in-out
}

.incident {
  min-height: 250px;
  min-width: 250px;
  flex: 1 0 25%;
  box-sizing: border-box;
  padding: 0 0.5rem 1rem;
}

.incident:nth-last-child(2):nth-child(3n) {
  min-width: 33%;
}

.incidentInfo {
  width: 250px;
  height: 250px;
  & p {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
